html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    box-sizing: border-box;
}

body{
    position: relative;
    background: #a3f7b5;
    color: #2D211F;
    font-size: 16px;
    line-height: 1.8;
    font-family: sans-serif;
    margin: 30px auto;
    max-width:850px ;
    padding: 15px 30px;
}

a{
    color: #2D211F;
    text-decoration:underline;
}

ul{
    padding: 0;
    list-style: none;
    margin: 0;
}


p{
    margin-bottom: 15px;
}

.navegacion a{
    display: block;
    text-decoration: none;
    color: #22577a;
    border-bottom: 1px solid #22577a;
}

.lanzador-menu{
    text-decoration: none;
    color: #FFF;
    padding: 6px 10px;
    background-color: #22577a;
    border-radius: 3px;
    margin-left: 89%;
}

.contenedor{
    border: 2px solid  #42a59f;
    border-radius: 25px;
    padding: 1% 2%;
    margin: 1%;
    text-align: center;
    background-color: #51bea1;
    margin-top:50px;
    margin-bottom: 50px;
}

.enlace{
    transition: 1.5s color;
}

.enlace:hover{
    color: #f2c14e;
}

.paginas{
    transition: 1s background-color;
}

.paginas:hover{
    background-color: #72e0ac;
}

#contacto{
    text-decoration: none;
    font-size: 20px;
    text-align: center;

}

#mail{
    margin-right: 5px;
    font-style: oblique;
}

#tel{
    margin-left: 5px;
    font-style: oblique;
}

@media screen and (min-width: 601px) {
    .lanzador-menu{
        display: none;
    }

    .navegacion{
        position: absolute;
        top: -30px;
    }

    body{
        margin-top: 60px;
    }

    .navegacion il{
        display: inline-block;
        margin-right: 15px;
    }
}

@media screen and (max-width: 600px) {
    .js .navegacion{
        max-height:0 ;
        overflow: hidden;
        transition: max-height .5s;
        position: absolute;
        top: 43px;
        left: 30px;
        right: 30px;
        background-color: #22577a;
    }

    .js .navegacion a{
        padding: 5px 10px;
        color: #fff;
        border-top: 1px solid rgba(255, 255, 255, 0.4);
    }

    .js .navegacion.menu-desplegado{
        max-height: 200px;
    }
}